
body {
    font-family: calibri;
    color: black;
}

#horizontal-line {
  border-top: 2px solid white;
}
      
a:active, a:visited, a:after {
    color: darkcyan;
}

h1 {
    font-size: 36px;
    font-family: "Lexend Tera";
    color: black;
}

[type='checkbox'] {
    font-size: 14px;
    color: blue;
}

.top-txt {
    font-size: 12px;
    color: #17202A;
}

q {
    font-size: 18px;
}

.f, .h {
    padding: 2px;
    font-family: "Lexend Tera";
    font-size: 14px;
    color: black;
    text-align: center;
}

.movie-img {
    display: flex;
    width: 60%;
    border: 12px solid #000;
    margin-left: auto;
    margin-right: auto;
}

.movie-name {
    margin-top: 1.75em;
    color: black;
    font-size: 20px;
    font-family: "Anton";
}
